@import '../../sass/main.scss';

.star {
    font-size: 22px;
    text-align: right;
    margin: 20px 0 0 10px;
    &-empty {
    color: #E3E3E3;
}
    &-full {
    color: $secondary-color;
}
@include tablet {
    font-size: 16px;
    margin: 20px 0 0 10px;
}
@include mobile {
    font-size: 16px;
    margin: 20px 0 0 0;
} 
}