@import './_variables';
@import './mixins';

* {
    font-family: "Montserrat", sans-serif;
}

body {
    position: relative;
    margin: 0 auto;
    max-width: 1400px;
    background: $primary-color;
}

ul {
    padding: 0;
}

li {
    padding: 0;
    list-style-type: none;
    font-weight: 500;
    font-size: 24px;
}

a {
    text-decoration: none;
    color: $quaternary-color;
}