@import './_variables';
@import './mixins';

* {
    font-family: "Montserrat", sans-serif;
}

body {
    position: relative;
    background: $primary-color;  
    @include desktop {
        @include margin-desktop;
    }  
    @include tablet {
        @include margin-tablet;
    }
    
    @include mobile {
        @include margin-mobile;
    }
}

ul {
    padding: 0;
}

li {
    padding: 0;
    list-style-type: none;
    font-weight: 500;
    @include tablet {
        text-transform: uppercase;    
    }
    
    @include mobile {
        text-transform: uppercase;    
    }
}

a {
    text-decoration: none;
    color: $quaternary-color;
}