@import './_variables';
@import './mixins';

html {
    position: relative;
    min-height: 100%;
    margin: auto;
    max-width: 1440px;
    font-size: 18px;
    color: $quaternary-color;
    font-family: 'Montserrat-Regular';
    background: $primary-color;
}
