@import '../../sass/main.scss';

.collapse {
    background-color: $tertiary-color;
    max-width: 1100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto;
    font-size: inherit;
    &__title {
        @include flexRow(row, space-between, center);
        background-color: $secondary-color;
        color: $primary-color;
        border-radius: 10px;
        font-weight: 500;
        font-size: 24px;
        padding: 10px 15px;
        cursor: pointer;
    }
    &__content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        letter-spacing: 1px;
        visibility: visible;
        opacity: 1;
        height: auto;
        padding: 10px;
        letter-spacing: 1px;
        color: $secondary-color;
        transition: 0.5s ease-in-out;
    }
}


