@import '../../sass/main.scss';

.nav {
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline-start: 10px;

    &__logo {
        width: 210px;
        height: 68px;
    }

    &__list {
        @include flexRow;
        transition: transform 150ms ease-in-out;
        gap: 57px;
        &--link {
            color: $quaternary-color;
            &:hover {
                transform: scale(1.05);
            }
            &_active {
                text-decoration: underline;
            }
        }
    }
}
