@import '../../sass/main.scss';

.home__gallery{
    @include flexRow;
    flex-wrap: wrap;
    gap: 50px;
    background-color: $tertiary-color;
    padding: 50px;
    border-radius: 25px;
    margin: 0 auto;
    @include tablet {
        gap: 20px;
        padding: 20px 0 0 0;
    }
    @include mobile {
        gap: 20px;
        padding: 20px 0 0 0;
    }
}