@import '../../sass/main.scss';

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;

    &__img {
        width: 1240px;
        height: 415px;
        margin: 0 10px;
        object-fit:cover;
    }
}
