@import '../../sass/main.scss';

.footer{
    @include flexRow;
    background-color: $quaternary-color;
    color: $primary-color;
    gap: 50px;
    &__content{
        padding: 66px 464px 29px 463px;
        @include flexCol;
        &--copyright{
            font-size: 24px;
            font-weight: 500;
            color: $primary-color;
        }
    }
}