@import '../../sass/main.scss';


.selectedHosting {
    @include desktop {
        @include margin-desktop;
    }
    @include tablet {
        @include margin-tablet;
    }
    @include mobile {
        @include margin-mobile;
    }
    &__collapses{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 70px;
    margin: 30px auto;
    &--item{
        width: 40%;
        }
    @include tablet {
        flex-direction: row;
        }
    }
    &__articles {
    @include flexRow;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    @include tablet {
        flex-direction: row;
    }
    }
    &__title {
    color: $secondary-color;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 0;
    @include tablet {
        font-size: 24px;
    }
    }
    &__location {
        font-size: 20px;
        font-weight: 500;
        margin: 4px 0;
    }
    &__host{
        @include flexCol;
        margin: 0;
        &--infos {
            @include flexRow;
            margin-top: 20px;
            @include tablet {
                flex-direction: column;
                align-items: flex-end;
            }
        }
        &--photo {
            justify-self: flex-end;            
            border-radius: 50%;
            width: 64px;
            height: 64px;
            margin : 0 0 0 5px;
        }
        &--name {
            color: $secondary-color;
            text-align: right;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            @include tablet {
                text-align: right;
            }
        }
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    &__tag {
        @include flexRow;
        text-align: center;
        color: $primary-color;
        border: $secondary-color;
        background-color: $secondary-color; 
        padding: 6px; 
        border-radius: 10px; 
        width: 115px;
        height: 25px;
        margin-right: 10px;
    }
}
