@import '../../sass/main.scss';

.error {
    @include flexCol;
    &__404 {
        font-size: 288px;
        font-weight: 700;
        color: $secondary-color;
        margin: 0;
        @include tablet {
            font-size: 72px;
        }

        @include mobile {
            font-size: 48px;
        }
    }
    &__title {
        font-size: 36px;
        font-weight: 500;
        color: $secondary-color;
        margin: 70px 0 0 0;
        @include tablet {
            font-size: 20px;
        }

        @include mobile {
            font-size: 18px;
        }
    }
    &__home {
        @include flexRow;
        margin: 70px 0 70px 0;
        @include tablet {
            margin: 20px 0 20px 0;
        }

        @include mobile {
            margin: 15px 0 15px 0;
        }
        &:hover {
            transform: scale(1.05);
            text-decoration: underline;
        }
    }
}
